{{#each catches as |catch| }}

<tr class="catch-data" data-index="{{id}}">
    <td>{{species}}/td>
    <td>{{date}}</td>
    <td>{{length}}</td>
    <td>{{weight}}</td>
    <td>{{location}}</td>
    <td><span class="delete-btn">&#10006;</span></td>
</tr>
